@using HRM.Web.ViewModels
@model List<EmployeeViewModel>

@{
    ViewData["Title"] = "Employee List";
}


<a asp-controller="Employee" asp-action="Add" class="btn btn-primary mt-2">Add Employee</a>
<form class="float-end d-flex mt-2">
    <input class="form-control me-2" name="searchText" type="search" placeholder="Type employee name">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table class="table">
    <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Designation</th>
        <th>Level</th>
        <th>Department</th>
        <th>Join Date</th>
        <th></th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr><td><img height="30px" border-radius="50%" src ="/profile-images/@employee.ProfileImage"/></td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.DesignationName</td>
            <td>@employee.Level</td>    
            <td>@employee.DepartmentName</td>
            <td>@employee.JoinDate</td>
            <td>
                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>

            </td>
        </tr>
    }
</table>